@import "tailwindcss";
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
  font-display: swap;
}
body{
  font-family: Roboto;
  background-color:oklch(96.2% 0.044 156.743) ;
}